doc
objs
./*.ffx
benchmarks/if_then_else_2seq/colored examples
benchmarks/if_then_else_2seq/slideshow
report/*.aux
report/*.log
report/*.toc
report/report.tex.backup
report/report.tex~
presentation/*.aux
presentation/*.log
presentation/*.toc
presentation/*.out
presentation/*.nav
presentation/presentation.tex.backup

report
presentation

.bam
.depend
config.lua
pathfinder

#doxygen
doxygen.err
Doxyfile

# meh, hackish
benchmarks/allButOne/allButOne15.png
benchmarks/allButOne/allButOne2.png
benchmarks/allButOne/allButOne4.png
benchmarks/atMostOneThen/atMostOneThen.dis
benchmarks/atMostOneThen/atMostOneThen20.png
benchmarks/atMostOneThen/atMostOneThen3.dis
benchmarks/atMostOneThen/atMostOneThen3.elf
benchmarks/atMostOneThen/atMostOneThen3.png
benchmarks/sparse-noloop/Makefile
benchmarks/sparse-noloop/sparse2.png
benchmarks/sparse-noloop/sparse2_jordy*
benchmarks/sparse2.arm
benchmarks/owcet_test
benchmarks/sparse-noloop/sparse8v2.*
